# Importing Northwind Database Directly From MySQL

### Preparing working environment and importing libraries:

In [10]:
% cd /mnt/Data/Jupyter/Neo4j/

/mnt/Data/Jupyter/Neo4j

In [11]:
from py2neo import Graph
import pymysql.cursors
import pandas as pd
import auth

### Initiating connection with databases:

In [12]:
neodb = Graph(bolt=True, password=auth.password)

mysqldb = pymysql.connect(host="localhost",
                                user=auth.user,
                                password=auth.password,
                                db='Northwind')

### Defining function to issue SQL query to MySQL & return data:

In [16]:
def mysql_query(sql):
    try:
        mysqldb.connect()
        df = pd.read_sql(sql, mysqldb)
    except:
        mysqldb.close()
    return(df)

### Defining function to initialise Neo4j and executing:

In [21]:
def neo_init():
    neodb.run("MATCH (n) OPTIONAL MATCH (n)-[r]-() DELETE n,r")

neo_init()

### Querying MySQL for Products table & issuing Cyper queries to Neo4j which iterate through the query result and insert each into Neo4j as Nodes.

In [12]:
for index, row in mysql_query("""
    SELECT *
    FROM Products
    """).iterrows():
    neodb.run("""
    CREATE (n:Product  {ProductID : $ProductID,
                        ProductName : $ProductName,
                        SupplierID : $SupplierID,
                        CategoryID : $CategoryID,
                        QuantityPerUnit : $QuantityPerUnit,
                        UnitPrice : $UnitPrice,
                        UnitsInStock : $UnitsInStock,
                        UnitsOnOrder : $UnitsOnOrder,
                        ReorderLevel : $ReorderLevel,
                        Discontinued : ($Discontinued <> 0)})
    """, parameters = {"ProductID" : row["ProductID"],
                       "ProductName" : row["ProductName"],
                       "SupplierID" : row["SupplierID"],
                       "CategoryID" : row["CategoryID"],
                       "QuantityPerUnit" : row["QuantityPerUnit"],
                       "UnitPrice" : row["UnitPrice"],
                       "UnitsInStock" : row["UnitsInStock"],
                       "UnitsOnOrder" : row["UnitsOnOrder"],
                       "ReorderLevel" : row["ReorderLevel"],
                       "Discontinued" : row["Discontinued"]})

In [13]:
for index, row in mysql_query("""
    SELECT CategoryID, CategoryName, Description
    FROM Categories
    """).iterrows():
    neodb.run("""
    CREATE (n:Category  {CategoryID : $CategoryID,
                        CategoryName : $CategoryName,
                        Description : $Description})
    """, parameters = {"CategoryID" : row["CategoryID"],
                       "CategoryName" : row["CategoryName"],
                       "Description" : row["Description"]})

In [14]:
for index, row in mysql_query("""
    SELECT SupplierID, CompanyName, ContactName, ContactTitle,
    Address, City, Region, PostalCode, Country, Phone
    FROM Suppliers
    """).iterrows():
    neodb.run("""
    CREATE (n:Supplier {SupplierID : $SupplierID,
                        CompanyName : $CompanyName,
                        ContactName : $ContactName,
                        ContactTitle : $ContactTitle,
                        Address : $Address,
                        City : $City,
                        Region : $Region,
                        PostalCode : $PostalCode,
                        Country : $Country,
                        Phone : $Phone})
    """, parameters = {"SupplierID" : row["SupplierID"],
                       "CompanyName" : row["CompanyName"],
                       "ContactName" : row["ContactName"],
                       "ContactTitle" : row["ContactTitle"],
                       "Address" : row["Address"],
                       "City" : row["City"],
                       "Region" : row["Region"],
                       "PostalCode" : row["PostalCode"],
                       "Country" : row["Country"],
                       "Phone" : row["Phone"]})

In [15]:
for index, row in mysql_query("""
    SELECT CustomerID, CompanyName, ContactName, ContactTitle,
    Address, City, PostalCode, Country, Phone
    FROM Customers
    """).iterrows():
    neodb.run("""
    CREATE (n:Customer {CustomerID : $CustomerID,
                        CompanyName : $CompanyName,
                        ContactName : $ContactName,
                        ContactTitle : $ContactTitle,
                        Address : $Address,
                        City : $City,
                        PostalCode : $PostalCode,
                        Country : $Country,
                        Phone : $Phone})
    """, parameters = {"CustomerID" : row["CustomerID"],
                       "CompanyName" : row["CompanyName"],
                       "ContactName" : row["ContactName"],
                       "ContactTitle" : row["ContactTitle"],
                       "Address" : row["Address"],
                       "City" : row["City"],
                       "PostalCode" : row["PostalCode"],
                       "Country" : row["Country"],
                       "Phone" : row["Phone"]})

In [16]:
for index, row in mysql_query("""
    SELECT OrderID, CustomerID, EmployeeID, OrderDate,
    RequiredDate, ShippedDate, ShipVia, Freight, ShipName,
    ShipAddress, ShipCity, ShipPostalCode, ShipCountry
    FROM Orders
    """).iterrows():
    neodb.run("""
    CREATE (n:Order    {OrderID : $OrderID,
                        CustomerID : $CustomerID,
                        EmployeeID : $EmployeeID,
                        OrderDate : $OrderDate,
                        RequiredDate : $RequiredDate,
                        ShippedDate : $ShippedDate,
                        ShipVia : $ShipVia,
                        Freight : $Freight,
                        ShipName : $ShipName,
                        ShipAddress : $ShipAddress,
                        ShipCity : $ShipCity,
                        ShipPostalCode : $ShipPostalCode,
                        ShipCountry : $ShipCountry})
    """, parameters = {"OrderID" : row["OrderID"],
                       "CustomerID" : row["CustomerID"],
                       "EmployeeID" : row["EmployeeID"],
                       "OrderDate" : str(row["OrderDate"]),
                       "RequiredDate" : str(row["RequiredDate"]),
                       "ShippedDate" : str(row["ShippedDate"]),
                       "ShipVia" : row["ShipVia"],
                       "Freight" : row["Freight"],
                       "ShipName" : row["ShipName"],
                       "ShipAddress" : row["ShipAddress"],
                       "ShipCity" : row["ShipCity"],
                       "ShipPostalCode" : row["ShipPostalCode"],
                       "ShipCountry" : row["ShipCountry"]})

In [17]:
for index, row in mysql_query("""
    SELECT EmployeeID, concat(TitleOfCourtesy, " ", FirstName, " ", LastName)
    AS EmployeeName, BirthDate, HireDate, Address, City, Country, Extension,
    HomePhone, IFNULL(ReportsTo, 0) AS ReportsTo
    FROM Employees
    """).iterrows():
    neodb.run("""
    CREATE (n:Employee {EmployeeID : $EmployeeID,
                        EmployeeName : $EmployeeName,
                        BirthDate : $BirthDate,
                        HireDate : $HireDate,
                        Address : $Address,
                        City : $City,
                        Country : $Country,
                        Extension : $Extension,
                        HomePhone : $HomePhone,
                        ReportsTo : $ReportsTo})
    """, parameters = {"EmployeeID" : row["EmployeeID"],
                       "EmployeeName" : row["EmployeeName"],
                       "BirthDate" : str(row["BirthDate"]),
                       "HireDate" : str(row["HireDate"]),
                       "Address" : row["Address"],
                       "City" : row["City"],
                       "Country" : row["Country"],
                       "Extension" : row["Extension"],
                       "HomePhone" : row["HomePhone"],
                       "ReportsTo" : row["ReportsTo"]})

In [18]:
for index, row in mysql_query("""
    SELECT * FROM Territories
    """).iterrows():
    neodb.run("""
    CREATE (n:Territory{TerritoryID : $TerritoryID,
                        TerritoryDescription : $TerritoryDescription,
                        RegionID : $RegionID})
    """, parameters = {"TerritoryID" : row["TerritoryID"],
                       "TerritoryDescription" : row["TerritoryDescription"],
                       "RegionID" : row["RegionID"]})

In [19]:
for index, row in mysql_query("""
    SELECT * FROM Region
    """).iterrows():
    neodb.run("""
    CREATE (n:Region   {RegionID : $RegionID,
                        RegionDescription : $RegionDescription})
    """, parameters = {"RegionID" : row["RegionID"],
                       "RegionDescription" : row["RegionDescription"]})

In [20]:
for index, row in mysql_query("""
    SELECT * FROM Shippers
    """).iterrows():
    neodb.run("""
    CREATE (n:Shipper  {ShipperID : $ShipperID,
                        CompanyName : $CompanyName,
                        Phone : $Phone})
    """, parameters = {"ShipperID" : row["ShipperID"],
                       "CompanyName" : row["CompanyName"],
                       "Phone" : row["Phone"]})

In [21]:
for index, row in mysql_query("""
    SELECT *
    FROM Order_Details
    """).iterrows():
    neodb.run("""
    MATCH (p:Product), (o:Order)
    WHERE p.ProductID = $ProductID AND o.OrderID = $OrderID
    CREATE (o)-[details:INCLUDES{
                        OrderID : $OrderID,
                        ProductID : $ProductID,
                        UnitPrice : $UnitPrice,
                        Quantity : $Quantity,
                        Discount : $Discount}]->(p)
    """, parameters = {"OrderID" : row["OrderID"],
                       "ProductID" : row["ProductID"],
                       "UnitPrice" : row["UnitPrice"],
                       "Quantity" : row["Quantity"],
                       "Discount" : row["Discount"]})

In [22]:
for index, row in mysql_query("""
    SELECT *
    FROM EmployeeTerritories
    """).iterrows():
    neodb.run("""
    MATCH (e:Employee), (t:Territory)
    WHERE e.EmployeeID = $EmployeeID AND t.TerritoryID = $TerritoryID
    CREATE (e)-[details:COVERS{
                        EmployeeID : $EmployeeID,
                        TerritoryID : $TerritoryID}]->(t)
    """, parameters = {"EmployeeID" : row["EmployeeID"],
                       "TerritoryID" : row["TerritoryID"]})

In [23]:
neodb.run("""
    MATCH (p:Product), (c:Category)
    WHERE p.CategoryID = c.CategoryID
    CREATE (p)-[:PART_OF]->(c)
    """)

neodb.run("""
    MATCH (p:Product), (s:Supplier)
    WHERE p.SupplierID = s.SupplierID
    CREATE (s)-[:SUPPLIES]->(p)
    """)

neodb.run("""
    MATCH (c:Customer), (o:Order)
    WHERE c.CustomerID = o.CustomerID
    CREATE (c)-[:PURCHASED]->(o)
    """)

neodb.run("""
    MATCH (e:Employee), (m:Employee)
    WHERE e.ReportsTo = m.EmployeeID
    CREATE (e)-[:REPORTS_TO]->(m)
    """)

neodb.run("""
    MATCH (r:Region), (t:Territory)
    WHERE r.RegionID = t.RegionID
    CREATE (r)-[:CONTAINS]->(t)
    """)

neodb.run("""
    MATCH (e:Employee), (o:Order)
    WHERE e.EmployeeID = o.EmployeeID
    CREATE (e)-[:SOLD]->(o)
    """)

neodb.run("""
    MATCH (s:Shipper), (o:Order)
    WHERE s.ShipperID = o.ShipVia
    CREATE (s)-[:SHIPPED]->(o)
    """)

In [24]:
pd.DataFrame(neodb.data("""
    MATCH (c:Category {CategoryName:"Produce"})<--(:Product)<--(s:Supplier)
    RETURN DISTINCT s.CompanyName as ProduceSuppliers
    """))

                    ProduceSuppliers
0                      Tokyo Traders
1          Grandma Kelly's Homestead
2                        G'day, Mate
3                           Mayumi's
4  Plutzer Lebensmittelgroßmärkte AG

In [39]:
pd.DataFrame(neodb.data("""
    MATCH (s:Supplier)-->(:Product)-->(c:Category)
    RETURN s.CompanyName as Company,
    collect(distinct c.CategoryName) as Categories
    """))

,Categories,Company
0,[Confections],Zaanse Snoepfabriek
1,"[Beverages, Condiments]",Exotic Liquids
2,"[Beverages, Confections]","Specialty Biscuits, Ltd."
3,[Dairy Products],Norske Meierier
4,[Beverages],Bigfoot Breweries
5,"[Produce, Condiments]",Grandma Kelly's Homestead
6,"[Condiments, Produce, Seafood]",Mayumi's
7,[Beverages],Refrescos Americanas LTDA
8,[Dairy Products],Formaggi Fortini s.r.l.
9,"[Confections, Condiments]",Forêts d'érables
10,"[Beverages, Confections]",Karkki Oy
11,"[Meat/Poultry, Produce, Seafood]",Tokyo Traders
12,"[Beverages, Condiments, Seafood, Meat/Poultry,...","Pavlova, Ltd."
13,[Seafood],Svensk Sjöföda AB
14,[Beverages],Aux joyeux ecclésiastiques
15,[Grains/Cereals],PB Knäckebröd AB
16,[Grains/Cereals],Pasta Buttini s.r.l.
17,[Seafood],Escargots Nouveaux
18,[Seafood],Nord-Ost-Fisch Handelsgesellschaft mbH
19,[Confections],Heli Süßwaren GmbH & Co. KG
20,[Seafood],Lyngbysild
21,[Meat/Poultry],Ma Maison
22,"[Condiments, Beverages, Grains/Cereals]",Leka Trading
23,[Dairy Products],Cooperativa de Quesos 'Las Cabras'
24,[Condiments],New Orleans Cajun Delights
25,[Dairy Products],Gai pâturage
26,"[Meat/Poultry, Grains/Cereals, Produce]","G'day, Mate"
27,[Seafood],New England Seafood Cannery
28,"[Beverages, Condiments, Grains/Cereals, Produc...",Plutzer Lebensmittelgroßmärkte AG

In [26]:
pd.DataFrame(neodb.data("""
    MATCH (cust:Customer)-[:PURCHASED]->(:Order)-[o:INCLUDES]->(p:Product),
    (p)-[:PART_OF]->(c:Category {CategoryName:"Produce"})
    RETURN DISTINCT cust.ContactName as
    CustomerName, SUM(o.Quantity) AS TotalProductsPurchased
    """))

               CustomerName  TotalProductsPurchased
0             Martine Rancé                    50.0
1      Miguel Angel Paolino                    14.0
2        Art Braunschweiger                    16.0
3              Maria Anders                    17.0
4                Hari Kumar                    72.0
5             Yoshi Latimer                    15.0
6              Thomas Hardy                    20.0
7        Frédérique Citeaux                    30.0
8                  Liu Wong                    10.0
9            Carine Schmitt                     3.0
10         Patricia McKenna                   121.0
11      Henriette Pfalzheim                    85.0
12         Laurence Lebihan                   118.0
13         Bernardo Batista                    17.0
14            André Fonseca                    31.0
15      Guillermo Fernández                    50.0
16           Annette Roulet                     8.0
17         Isabel de Castro                    18.0
18              Rita Müller                     4.0
19            Paolo Accorti                    15.0
20              Palle Ibsen                    70.0
21         Patricio Simpson                     8.0
22           Jean Fresnière                    30.0
23              Horst Kloss                   242.0
24             Mario Pontes                    35.0
25           Lúcia Carvalho                    50.0
26             Mary Saveley                    45.0
27       Christina Berglund                    66.0
28               Hanna Moos                    11.0
29          Alexander Feuer                    20.0
..                      ...                     ...
33         Pirkko Koskitalo                    70.0
34          Carlos González                    49.0
35                Yang Wang                    71.0
36           Karl Jablonski                     5.0
37             Michael Holz                     6.0
38            Daniel Tonini                     5.0
39         Sergio Gutiérrez                     7.0
40              Fran Wilson                    27.0
41             Ana Trujillo                     3.0
42        José Pedro Freyre                    40.0
43           Jose Pavarotti                   152.0
44            Howard Snyder                     3.0
45          Catherine Dewey                    20.0
46  Zbyszek Piestrzeniewicz                    22.0
47            Maria Larsson                   148.0
48         Pascale Cartrain                    78.0
49            Karin Josephs                    49.0
50                Ann Devon                   100.0
51            Philip Cramer                     9.0
52            Roland Mendel                   353.0
53        Victoria Ashworth                    37.0
54         Carlos Hernández                    81.0
55         Felipe Izquierdo                    20.0
56            Rene Phillips                    16.0
57           Jytte Petersen                    30.0
58          Matti Karttunen                     3.0
59         Jonas Bergulfsen                    18.0
60            Peter Franken                    51.0
61          Maurizio Moroni                    52.0
62             Paula Wilson                    77.0

[63 rows x 2 columns]

In [6]:
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (20,20)